 * {
    box-sizing: border-box;
 }

body {
    background-color: lightgreen;
    text-align: center;
}

header {
   background-color: black;
   color: white;
   padding: 3px;
   position: sticky;
}

.pics {
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
}


.pics img {
   width: 300px;
   min-width: 150px;
   max-width: 600px;
   height: fit-content;
   margin: 10px;
   border: 7px solid black;
   border-radius: 10px;
   flex-grow: 1;
   flex-shrink: 1;
   flex-basis: auto;
   object-fit: contain;
}
