 * {
    box-sizing: border-box;
 }

body {
    background-color: lightgreen;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

header {
   background-color: black;
   color: white;
   padding: 3px;
   position: sticky;
}

section {
    border: 1px solid black;
}

.pics, .gifs {
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
}

img, embed {
    height: fit-content;
}
.pics img, .gifs embed {
   /* min-width: 150px; */
   /* max-width: 600px; */
   width: 300px;
   margin: 10px;
   border: 7px solid black;
   border-radius: 10px;
   /* flex-grow: 1; */
   /* flex-shrink: 1; */
   /* flex-basis: 300px; */
   object-fit: contain;
}

footer {
    background-color: white;
    padding: 5px;
}

footer div {
    width: 100%;
}
footer div embed {
    padding: 20px;
}

footer div .box {
    display: block;
    width: 100%;
    text-align: center;
    
}

.sne {
    font-size: 0.7em;
    text-align: left;
    margin: 3px;
}

